REACT_APP_SUPABASE_URL="https://blsponcybopoaswedmiv.supabase.co"
REACT_APP_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsc3BvbmN5Ym9wb2Fzd2VkbWl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMTM2NjcsImV4cCI6MjA4NzU4OTY2N30.CoCdCNR3bUV-UD3WXZxQgpXjY66LMCd0No_blt2CaZA"

REACT_APP_FIREBASE_API_KEY=your-api-key
REACT_APP_FIREBASE_AUTH_DOMAIN=your-auth-domain
REACT_APP_FIREBASE_PROJECT_ID=your-project-id
REACT_APP_FIREBASE_STORAGE_BUCKET=your-storage-bucket
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
REACT_APP_FIREBASE_APP_ID=your-app-id